<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BouncingBall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BouncingBall.Properties.Settings>
            <setting name="sBrokerUrl" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="iCameraId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iRoomWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="iRoomHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="iTimeToLive" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="iGameTick" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="iBallSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="iMarkerRealLength" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="iCannyThresholdLow" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="iCannyThresholdHight" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="sAvailableIds" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Spiderman</string>
                        <string>Batman</string>
                        <string>Superman</string>
                        <string>Bob Lenon</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="iBallDiameter" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="sCalibrationFile" serializeAs="String">
                <value>calibration.txt</value>
            </setting>
        </BouncingBall.Properties.Settings>
    </userSettings>
</configuration>