<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!-- All the value are in milimeters -->
  <appSettings>
    <!-- Size of the playing area -->
    <add key="iRoom_width" value="400" />
    <add key="iRoom_lenght" value="400" />
    <!-- Default size of a wall (ex : 5,5)-->
    <add key="fTimeToLive" value="6" />
    <!-- Balls settings -->
    <add key="iBallSpeed" value="5" />
    <add key="fBalldiameter" value="25" />
    <!-- Markers settings-->
    <add key="iMarkerRealLength" value="25"/>
    <!-- Dectection settings-->
    <add key="iCannyThresholdLow" value="30"/>
    <add key="iCannyThresholdHight" value="90"/>
  </appSettings>
</configuration>