<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Size of the playing area in milimeters -->
      <add key="iRoom_width" value="1600"/>
      <add key="iRoom_lenght" value="900"/>
    <!-- Default size of a wall (ex : 5,5)-->
    <add key="fTimeToLive" value="6"/>
    <!-- Balls parameters -->
      <add key="iBallSpeed" value="5"/>
      <!-- value in milimeters -->
      <add key="fBalldiameter" value="25"/>
  </appSettings>
</configuration>